<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/mainLayout">
    <head>
        <title th:text="#{title.create_role}">Roles - New</title>
    </head>
    <body>

        <div layout:fragment="content">

            <div class="box box-warning">

                <div class="box-header with-border">
                    <h3 class="box-title" th:text="#{message.create_role.title}">Create New Role</h3>
                </div><!-- /.box-header -->

                <div class="box-body">

                    <!--New Role Form-->
                    <!--/*@thymesVar id="role" type="com.revenat.jcart.admin.web.commands.RoleCommand"*/-->
                    <form role="form" th:action="@{/roles}" th:object="${role}" method="post">
                        <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p>

                        <!-- text input -->
                        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                            <label th:text="#{label.name}">Name</label>
                            <input type="text" class="form-control" name="name" th:field="*{name}"
                                   placeholder="Enter Role Name" th:placeholder="#{placeholder.enter_role_name}"/>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="text-red">Incorrect data</p>
                        </div>

                        <!-- textarea -->
                        <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                            <label th:text="#{label.description}">Description</label>
                            <textarea class="form-control" rows="3" name="description" th:field="*{description}"
                                      placeholder="Enter Role Description" th:placeholder="#{placeholder.enter_role_description}"></textarea>
                            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="text-red">Incorrect data</p>
                        </div>

                        <!-- permissions -->
                        <div class="form-group">
                            <label>Permissions</label>
                            <div>
                                <!--/*@thymesVar id="permissionsList" type="java.util.List<com.revenat.jcart.entities.Permission>"*/-->
                                <p th:each="permission,rowStat : ${permissionsList}">
                                    <input type="checkbox" th:field="*{permissions[__${rowStat.index}__].id}" th:value="${permission.id}" />
                                    <label th:text="${permission.name}">Permission</label>
                                </p>
                            </div>
                        </div>

                        <!-- Submit -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" th:text="#{label.submit}">Submit</button>
                        </div>
                    </form>
                </div><!-- /.box-body -->

            </div><!-- /.box -->

        </div>

    </body>
</html>