<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/mainLayout">
    <head>
        <title th:text="#{title.home}">Home</title>
    </head>
    <body>
        <div layout:fragment="pageHeader">
            <section class="content-header">
                <h1>
                    <span th:text="#{message.home.header}">JCart Administration</span>
                    <small th:text="#{message.home.subtitle}">Manage JCart Site Content</small>
                </h1>
            </section>
        </div>
        <div layout:fragment="content">
            <p> <span th:text="#{message.home.greeting}">Welcome</span> <span th:text="${authenticatedUser.user.name}">User</span>!</p>
        </div>
    </body>
</html>