<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:remove="all">Template for HTML email</title>
    </head>
    <body>
        <p>
            Hello, <span th:text="${username}">User</span>
        </p>
        <p>
            Please click the below link to reset your password. <br/>
            <a href="#" th:href="${resetPwdURL}">Reset Password</a>
        </p>
        <p>
            Regards, <br/>
            <em>The JCart Team</em>
        </p>
    </body>
</html>